.green{
    background-color:#76e57a
}

.light-green{
   background-color: #97c783
}

.light-blue{
    background-color:#2acaea
}

.grey{
   background-color:#788475
}

.yellow{
    background-color:#d5a932
}

.orange{
    background-color:#d26742
}

.red{
    background-color:#6d1404
}

.purple{
    background-color:#564e52
}

.black{
    background-color:#242424
}
