.mood{
    height:0;
    width:60%;
    padding-bottom:60%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.happy{
    background-color:#76e57a
}

.hopeful{
   background-color: #97c783
}

.optimistic{
    background-color:#2acaea
}

.tired{
   background-color:#788475
}

.anxious{
    background-color:#d5a932
}

.disconnected{
    background-color:#d26742
}

.angry{
    background-color:#6d1404
}

.sad{
    background-color:#564e52
}

.depressed{
    background-color:#242424
}
